.cutout-text-container {
  height: 400px;
}

.cutout-text {
  background-color: white;
  opacity: 0.6;
  color: black;
  font-size: 10vw;
  font-weight: bold;
  padding: 20px;
  line-height: 1;
  mix-blend-mode: screen;
}
