extends ../../../includes/_base

block params
  - var pageTitle = "Content >> Special Tables" + pageTitleSuffix
  - var pageDescription = "Special Tables"
  - var parentSlug = "tables"
  - var pageSlug = "special-tables"
  - var bodyClass = "special-tables"

block content
    main
      .container
        .row
          .col
            h2 #[span.primary .table]
            table.table
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter


        .row
          .col
            h2 #[span.primary .table .table-dark]
            table.table.table-dark
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter


        .row
          .col
            h2 #[span.primary .thead-dark]
            table.table
              thead.thead-dark
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .thead-light]
            table.table
              thead.thead-light
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter


        .row
          .col
            h2 #[span.primary .table .table-striped]
            table.table.table-striped
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter


        .row
          .col
            h2 #[span.primary .table .table-dark .table-striped]
            table.table.table-dark.table-striped
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table .table-bordered]
            table.table.table-bordered
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table .table-dark .table-bordered]
            table.table.table-dark.table-bordered
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table .table-borderless]
            table.table.table-borderless
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table .table-dark .table-borderless]
            table.table.table-dark.table-borderless
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter


        .row
          .col
            h2 #[span.primary .table .table-hover]
            table.table.table-hover
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table .table-dark .table-hover]
            table.table.table-dark.table-hover
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter



        .row
          .col
            h2 #[span.primary .table .table-sm]
            table.table.table-sm
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table .table-dark .table-sm]
            table.table.table-dark.table-sm
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary Caption]
            table.table.table-dark.table-sm
              caption List of users
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter

        .row
          .col
            h2 #[span.primary .table-responsive{-sm|-md|-lg|-xl}]
            .table-responsive
              table.table
                thead
                  tr
                    th(scope='col') #
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                    th(scope='col') Heading
                tbody
                  tr
                    th(scope='row') 1
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                  tr
                    th(scope='row') 2
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                  tr
                    th(scope='row') 3
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell
                    td Cell

        .row
          .col
            h2 #[span.primary Table Background Colors]
            table.table
              thead
                tr
                  th(scope='col') Class
                  th(scope='col') Heading
                  th(scope='col') Heading
              tbody
                tr.table-active
                  th(scope='row') Active
                  td Cell
                  td Cell
                tr
                  th(scope='row') Default
                  td Cell
                  td Cell
                tr.table-primary
                  th(scope='row') Primary
                  td Cell
                  td Cell
                tr.table-secondary
                  th(scope='row') Secondary
                  td Cell
                  td Cell
                tr.table-success
                  th(scope='row') Success
                  td Cell
                  td Cell
                tr.table-danger
                  th(scope='row') Danger
                  td Cell
                  td Cell
                tr.table-warning
                  th(scope='row') Warning
                  td Cell
                  td Cell
                tr.table-info
                  th(scope='row') Info
                  td Cell
                  td Cell
                tr.table-light
                  th(scope='row') Light
                  td Cell
                  td Cell
                tr.table-dark
                  th(scope='row') Dark
                  td Cell
                  td Cell


        .row
          .col
            h2 #[span.primary Utility Background Colors]
            table.table.table-dark
              thead
                tr
                  th(scope='col') #
                  th(scope='col') Heading
                  th(scope='col') Heading
              tbody
                tr.bg-primary
                  th(scope='row') 1
                  td Cell
                  td Cell
                tr
                  th(scope='row') 2
                  td Cell
                  td Cell
                tr.bg-success
                  th(scope='row') 3
                  td Cell
                  td Cell
                tr
                  th(scope='row') 4
                  td Cell
                  td Cell
                tr.bg-info
                  th(scope='row') 5
                  td Cell
                  td Cell
                tr
                  th(scope='row') 6
                  td Cell
                  td Cell
                tr.bg-warning
                  th(scope='row') 7
                  td Cell
                  td Cell
                tr
                  th(scope='row') 8
                  td Cell
                  td Cell
                tr.bg-danger
                  th(scope='row') 9
                  td Cell
                  td Cell

