.blur-cta {
  p {
    transition: all 0.3s ease-in;
  }

  &.blur {
    p {
      transform: translateY(30px);
      opacity: 0;
    }
  }

  &.blur-in {
    p {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
