header
  #top-bar
    .container.h-100
      .row.h-100
        .col.col-12.h-100.d-flex.align-items-center.justify-content-center.justify-content-lg-end.flex-row
          if enableIsi
            a.toggle-isi(href=(disableIsiPageSlugs.includes(pageSlug) ? '/isi' : '#') onclick=(disableIsiPageSlugs.includes(pageSlug) ? '' : 'return false'))
              | Important Site Information
          a(href='/')
            | Top Bar Link 2
          if enableSiteSearch
            button.d-none.d-lg-block.search-button Search

  #main-nav.d-flex.align-items-center
    .container
      .row.d-flex.justify-content-between
        .col.col-4.col-lg-2.d-flex.align-items-center.justify-content-start.p-lg-0
          a(href='/')
            img.main-logo(srcset='http://via.placeholder.com/140x80, http://via.placeholder.com/280x160 2x' alt='Main Logo')

        .col.col-8.col-lg-10.d-flex.align-items-center.justify-content-end.p-lg-0
          //-
          //- Desktop nav start here
          //-
          nav#desktop-nav.d-none.d-lg-flex.align-items-center
            ul.menu
              each page, slug in menu_config
                li
                  +nav_menu(page, slug)

                  //- Level 1 submenu
                  if page.submenu
                    ul.submenu.submenu1
                      each page1, slug1 in page.submenu
                        li
                          +nav_menu(page1, slug1)

                          //- Level 2 submenu
                          if page1.submenu
                            ul.submenu.submenu2
                              each page2, slug2 in page1.submenu
                                li
                                  +nav_menu(page2, slug2)

          button.hamburger.hamburger--spin-r.d-lg-none(type='button' aria-label='Menu' aria-controls='mobile-nav' aria-expanded='false')

            span.hamburger-box
              span.hamburger-inner

  if enableSiteSearch
    .container.d-none.d-lg-block
      .row
        .col.col-12
          form.site-search-form(method="get" action="/search")
            .p-4
              input.keywords(type="search" name="keywords")
              input(type="submit" value="Search")
              a.cancel(href="#" onclick="return false") Cancel

  //-
  //- Mobile nav starts here
  //-
  nav#mobile-nav.flex-column.d-lg-none
    .container
      .row
        .col.col-12
          form.site-search-form.d-flex(method="get" action="/search")
            input.keywords.flex-fill(type="search" name="keywords")
            input(type="submit" value="Search")

          ul.menu
            each page, slug in menu_config
              li
                +mobile_nav_menu(page, slug)

                //- Level 1 submenu
                if page.submenu
                  ul.submenu.submenu1
                    each page1, slug1 in page.submenu
                      li
                        +mobile_nav_menu(page1, slug1)

                        //- Level 2 submenu
                        if page1.submenu
                          ul.submenu.submenu2
                            each page2, slug2 in page1.submenu
                              li
                                +mobile_nav_menu(page2, slug2)

