header
  #top-bar
    .container.h-100
      .row.h-100
        .col.col-12.h-100.d-flex.align-items-center.justify-content-end.flex-row
          a.toggle-isi(href=(disableIsiPageSlugs.includes(pageSlug) ? '/isi' : '#') onclick=(disableIsiPageSlugs.includes(pageSlug) ? '' : 'return false'))
            | Important Site Information
          a(href='/')
            | Top Bar Link 2

  #main-nav.d-flex.align-items-center
    .container
      .row.d-flex.justify-content-between
        .col.col-4.col-lg-2.d-flex.align-items-center.justify-content-start.p-lg-0
          a(href='/')
            img.main-logo(srcset='http://via.placeholder.com/140x80, http://via.placeholder.com/280x160 2x' alt='Main Logo')

        .col.col-8.col-lg-10.d-flex.align-items-center.justify-content-end.p-lg-0
          nav#desktop-nav.d-none.d-lg-flex.align-items-center
            each page, key in menu_config
              - var activeClass = (pageSlug === key) ? 'active ' : ''
                a(href=page.href class=activeClass + 'd-block text-center')!= page.label
          button.hamburger.hamburger--spin-r.d-lg-none(type='button' aria-label='Menu' aria-controls='mobile-nav' aria-expanded='false')
            span.hamburger-box
              span.hamburger-inner

  nav#mobile-nav.flex-column.d-lg-none
    each page, key in menu_config
      - var activeClass = (pageSlug === key) ? 'active ' : ''
        a(href=page.href class=activeClass + 'd-block text-center')!= page.label
