#isi.container
  .isi-container.row
    .isi-header.col.col-12
      | IMPORTANT SITE INFORMATION

    .isi-body.col.col-12
      include _isi-body

#sticky-isi.container
  .isi-container.row
    .isi-header.col.col-12
      | IMPORTANT SITE INFORMATION
      span.toggle-isi
        img(src="/images/icons/arrow-up.svg" alt="Arrow")

    .isi-body.col.col-12
      include _isi-body
