#isi.container
  .isi-container.row
    .isi-header.col.col-12
      IMPORTANT SAFETY INFORMATION
      span.collapse-isi
        | - Collapse

    .isi-body.col.col-12
      include _isi-body

#sticky-isi.container
  .isi-container.row
    .isi-header.col.col-12
      IMPORTANT SAFETY INFORMATION
      span.expand-isi
        | + Expand

    .isi-body.col.col-12
      include _isi-body
