if enableInlineIsi
  #isi.container
    .isi-container.row
      .isi-header.col-12
        | IMPORTANT SITE INFORMATION

      .isi-body.col-12
        include _isi-body

#sticky-isi.container
  .isi-container.row
    .isi-header.col-12.toggle-isi
      | IMPORTANT SITE INFORMATION
      span
        img(src="/images/icons/arrow-up.svg" alt="Arrow")

    .isi-body.col-12
      include _isi-body
