-
    var menu_config = {
        'content' : {
            'label': 'CONTENT',
            'submenu': {
              'typography': {
                'label': 'TYPOGRAPHY',
                'href': '/content/typography'
              },
              'lists': {
                'label': 'LISTS',
                'href': '/content/lists'
              },
              'tables': {
                'label': 'TABLES',
                'submenu': {
                  'standard-tables': {
                    'label': 'Standard',
                    'href': '/content/tables#standard'
                  },
                  'responsive-tables': {
                    'label': 'Responsive',
                    'href': '/content/tables#responsive'
                  },
                  'special-tables': {
                    'label': 'Special',
                    'href': '/content/tables/special'
                  }
                }
              },
              'forms': {
                'label': 'FORMS',
                'href': '/content/forms'
              },
            }
        },
        'products' : {
            'label': 'PRODUCTS',
            'submenu': {
              'software': {
                'label': 'SOFTWARE',
                'href': '/products/software'
              },
              'hardware': {
                'label': 'HARDWARE',
                'href': '/products/hardware'
              }
          }
        },
        'resources' : {
          'label': 'RESOURCES',
          'submenu': {
            'downloads': {
              'label': 'DOWNLOADS',
              'href': '/resources/downloads'
            }
          }
        },
        'contact' : {
            'label': 'CONTACT',
            'href': '/contact',
        }
    }
