-
    var menu_config = {
        'content': {
            'label': 'CONTENT',
            'submenu': {
              'typography': {
                'label': 'TYPOGRAPHY',
                'href': '/content/typography'
              },
              'lists': {
                'label': 'LISTS',
                'href': '/content/lists'
              },
              'tables': {
                'label': 'TABLES',
                'submenu': {
                  'standard-tables': {
                    'label': 'STANDARD',
                    'href': '/content/tables#standard'
                  },
                  'responsive-tables': {
                    'label': 'RESPONSIVE',
                    'href': '/content/tables#responsive'
                  },
                  'special-tables': {
                    'label': 'SPECIAL',
                    'href': '/content/tables/special'
                  }
                }
              },
              'buttons': {
                'label': 'BUTTONS',
                'href': '/content/buttons'
              },
              'forms': {
                'label': 'FORMS',
                'href': '/content/forms'
              },
              'secondary-nav-page': {
                'label': 'SECONDARY NAV',
                'href': '/content/secondary-nav'
              },
              'timeline-page': {
                'label': 'TIMELINE',
                'href': '/content/timeline'
              }
            }
        },
        'layouts': {
            'label': 'LAYOUTS',
            'submenu': {
              'columns': {
                'label': 'COLUMNS',
                'href': '/layouts/columns'
              },
              'callouts': {
                'label': 'CALLOUTS',
                'href': '/layouts/callouts'
              }
          }
        },
        'animations': {
          'label': 'ANIMATIONS',
          'submenu': {
          }
        },
        'effects': {
          'label': 'EFFECTS',
          'submenu': {
            'parallax': {
              'label': 'PARALLAX',
              'href': '/effects/parallax'
            },
            'cutout-text-page': {
              'label': 'CUTOUT TEXT',
              'href': '/effects/cutout-text'
            }
          }
        },
        'contact': {
            'label': 'CONTACT',
            'href': '/contact',
        }
    }
