-
    var menu_config = {
        'about': {
            'label': 'ABOUT',
            'href': '/about',
        },
        'services' : {
            'label': 'SERVICES',
            'href': '/services',
        },
        'products' : {
            'label': 'PRODUCTS',
            'href': '/products',
        },
        'contact' : {
            'label': 'CONTACT',
            'href': '/contact',
        }
    }
