-
    var menu_config = {
        'about': {
            'label': 'ABOUT',
            'href': '/about',
        },
        'services' : {
            'label': 'SERVICES',
            'submenu': {
              'design': {
                'label': 'DESIGN',
                'href': '/services/design'
              },
              'development': {
                'label': 'DEVELOPMENT',
                'href': '/services/development'
              }
            }
        },
        'products' : {
            'label': 'PRODUCTS',
            'submenu': {
              'software': {
                'label': 'SOFTWARE',
                'href': '/products/software'
              },
              'hardware': {
                'label': 'HARDWARE',
                'href': '/products/hardware'
              }
          }
        },
        'contact' : {
            'label': 'CONTACT',
            'href': '/contact',
        }
    }
