#entry-modal.modal.w-100.h-100
  .entry-modal-content.row.d-flex.align-items-center.m-0
    .entry-modal-body.col.col-12.p-0

      h3.mb-4 Blah blah

      .entry-modal-buttons.d-flex.justify-content-around.align-items-cener.p-4
        a.btn#enter-btn(href='#' onclick="return false") XXX
        a.btn#exit-btn(href='https://www.external.com' target='_blank' rel='nofollow noopener') XXX
