#entry-modal.modal.w-100.h-100
  .entry-modal-content.row.d-flex.align-items-center.m-0
    .entry-modal-body.col.col-12

      h3.mb-4 Blah blah

      p
        a.btn#enter-btn(href='#' onclick="return false") XXX
      p
        a.btn#exit-btn(href='https://www.external.com' target='_blank' rel='nofollow noopener') XXX
