-
  var domain = "https://www.domain.com/"
  var ogImageUrl = domain + "images/social-share.jpg"
  var siteName = "My site"
  var gtmCode = "GTM-XXXXXX"

  var pageTitleSuffix = " | " + siteName

  var enableIsi = true
  var disableIsiPageSlugs = [ 'page404' ]
