footer(class='flex-shrink-0')
    div(class='container h-100')
        div(class='row h-100 align-items-center')
            div(class='col col-12 col-md-8 text-left')
                p &copy; Copyright info here
            div(class='col col-12 col-md-4 text-left')
                p
                    a(href='') Terms of Use
                    a(href='') Privacy Policy
                    a(href='') Contact Us
