extends ../../includes/_base

block params
  - var pageTitle = "Content >> Typography" + pageTitleSuffix
  - var pageDescription = "Typography"
  - var parentSlug = "content"
  - var pageSlug = "typography"
  - var bodyClass = "typograpy"
  -
    var breadcrumb = [
      { "level": 1, "slug": "content", "label": "Content" },
      { "level": 2, "slug": "typography", "label": "Typography" },
    ]

block content
    main
      .container
        .row
          .col.col-md-6
            h1 H1 Heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus. 
          .col.col-md-6
            h1 H1 #[span.primary Heading]
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus.

        .row
          .col.col-md-6
            h2 H2 Heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus. 
          .col.col-md-6
            h2 H2 #[span.primary Heading]
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus.

        .row
          .col.col-md-6
            h3 H3 Heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus. 
          .col.col-md-6
            h3 H3 #[span.primary Heading]
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus.

        .row
          .col.col-md-6
            h4 H4 Heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus. 
          .col.col-md-6
            h4 H4 #[span.primary Heading]
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus.

        .row
          .col.col-md-6
            h5 H5 Heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus. 
          .col.col-md-6
            h5 H5 #[span.primary Heading]
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus.

        .row
          .col.col-md-6
            h6 H6 Heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus. 
          .col.col-md-6
            h6 H6 #[span.primary Heading]
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pellentesque est, sed malesuada purus auctor nec. Fusce viverra lectus nec lectus vestibulum, vel interdum tortor congue. Praesent ut erat nec quam tincidunt efficitur non eu purus.
