extends ../../includes/_base

block params
  - var pageTitle = "Content >> Timeline" + pageTitleSuffix
  - var pageDescription = "Timeline"
  - var parentSlug = "timeline__content"
  - var pageSlug = "timeline-page"
  -
    var breadcrumb = [
      { "level": 1, "slug": "timeline__content", "label": "Content" },
      { "level": 2, "slug": "timeline-page", "label": "Timeline" },
    ]

block content
  main
    section
      .container
        .row
          .col-12
            .timeline
              .timeline__container.timeline__container--left
                .timeline__content
                  h2 2017
                  p
                    | Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
              .timeline__container.timeline__container--right
                .timeline__content
                  h2 2016
                  p
                    | Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
              .timeline__container.timeline__container--left
                .timeline__content
                  h2 2015
                  p
                    | Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
              .timeline__container.timeline__container--right
                .timeline__content
                  h2 2012
                  p
                    | Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
              .timeline__container.timeline__container--left
                .timeline__content
                  h2 2011
                  p
                    | Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
              .timeline__container.timeline__container--right
                .timeline__content
                  h2 2007
                  p
                    | Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
                        
