form {
  padding: 10px;
}

// Bootstrap override
.form-check {
  padding-left: 0;
}

label {
  user-select: none;
}

input[type="checkbox"] {
  border: 1px solid yellow;
  width: 0;
  height: 0;
  margin: 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid $color-blue;
    top: 0;
    left: 0;
    border-radius: 3px;
    padding-left: 3px;
  }

  &:hover {
    &:before {
    }
  }

  &:checked {
    &:before {
      content: "✓";
      color: $color-blue;
    }
  }

  & + label {
    margin-left: 30px;
  }

  &:checked + label {
    
  }
}

input[type="radio"] {
  font-weight: 700;
  padding-top: 2px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
  user-select: none;

  &.checked {
    &:after {
      content: "X";
      color: $color-red;
      display: block;
      position: absolute;
      left: 8px;
      top: 3px;
      width: 30px;
      height: 30px;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid $color-red;
    background-color: $color-yellow;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
