sup {
  font-size: 50%;
  top: -1em;

  &.large {
    font-size: 100%;
    top: -5px;
    left: -3px;
  }

  .flush {
    margin-left: -6px;
    padding-right: 2px;
    font-size: 16px;
    top: 0em;

    &.asterisk {
      margin-left: -9px;
    }
  }
}
