extends ../../includes/_base

block params
  - var pageTitle = "Layouts >> Columns" + pageTitleSuffix
  - var pageDescription = "columns"
  - var parentSlug = "layouts"
  - var pageSlug = "columns"
  -
    var breadcrumb = [
      { "level": 1, "slug": "layouts", "label": "Layouts" },
      { "level": 2, "slug": "columns", "label": "Columns" },
    ]

block content
    main
      .container
        .row
          .col-12
            .three-columns
              .row
                .col-12.col-md-4
                  .three-columns__item(data-equal-height=300)
                    .three-columns__item__icon.on-scroll-animation(data-on-scroll-animation="grow")
                    h2.three-columns__item__header Regular
                    p.three-columns__item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra mi, tincidunt consequat massa. Vivamus imperdiet eros condimentum commodo vulputate.

                .col-12.col-md-4
                  .three-columns__item(data-equal-height=300)
                    .three-columns__item__icon.on-scroll-animation(data-on-scroll-animation="grow" data-on-scroll-delay=500)
                    h2.three-columns__item__header Outlined
                    p.three-columns__item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra mi, tincidunt consequat massa. Vivamus imperdiet eros condimentum commodo vulputate.

                .col-12.col-md-4
                  .three-columns__item(data-equal-height=300)
                    .three-columns__item__icon.on-scroll-animation(data-on-scroll-animation="grow" data-on-scroll-delay=1000)
                    h2.three-columns__item__header Gradient
                    p.three-columns__item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra mi, tincidunt consequat massa. Vivamus imperdiet eros condimentum commodo vulputate.

        .row
          .col-12.p-4

        .row
          .col-12
            .two-columns
              .row
                .col-12.col-lg-6
                  .two-columns__item
                    .row.flex-column-reverse.flex-lg-row
                      .col-12.col-lg-6.two-columns__item__content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra mi, tincidunt consequat massa. Vivamus imperdiet eros condimentum commodo vulputate.
                      .col-12.col-lg-6.two-columns__item__thumbnail
                        a(href="#" onclick="return false")
                          img.w-100.lozad(data-src="https://via.placeholder.com/250x150" alt="image")

                .col-12.col-lg-6
                  .two-columns__item
                    .row.flex-column-reverse.flex-lg-row
                      .col-12.col-lg-6.two-columns__item__content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra mi, tincidunt consequat massa. Vivamus imperdiet eros condimentum commodo vulputate.
                      .col-12.col-lg-6.two-columns__item__thumbnail
                        a(href="#" onclick="return false")
                          img.w-100.lozad(data-src="https://via.placeholder.com/250x150" alt="image")
