extends ../includes/_base

block params
  - var pageTitle = "Site Search" + pageTitleSuffix
  - var pageDescription = "Site Search"
  - var pageSlug = "site-search"
  - var bodyClass = "site-search"

block content
    main
      .container
        .row
          .col-12
            h1 Site Search
            form.site-search-form(method="post" action="/search")
              input.keywords(type="text" name="keywords")
              input.submit(type="submit" name="search" value="Search")
