extends ../includes/_base

block params
  - var pageTitle = "Site Search" + pageTitleSuffix
  - var pageDescription = "Site Search"
  - var pageSlug = "site-search"

block content
    main
      .container
        .row
          .col-12
            h1 Site Search
            form.site-search-form(method="get" action="/search")
              input.keywords(type="search" name="keywords")
              input(type="submit" value="Search")

            ol#search-results
            h3#search-not-found No results found
