header {
  z-index: $header-zindex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;

  &.hide {
    top: -($top-bar-mobile-height + $main-nav-mobile-height);
    @include media-breakpoint-up(lg) {
      top: -($top-bar-mobile-height + $main-nav-desktop-height);
    }
  }

  #top-bar {
    background-color: $gray-600;
    color: $white;
    height: $top-bar-mobile-height;

    @include media-breakpoint-up(lg) {
      height: $top-bar-desktop-height;
    }

    a:not(:last-child) {
      margin-right: 30px;
    }

    a {
      color: $white;
      line-height: 1.1;
      text-decoration: underline;
      text-align: center;
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }

    .search-button {
      border: 0;
      border-radius: 15px;
      background-color: $green;
      color: $white;
      border: 1px solid $white;
      font-size: 12px;
      padding: 2px 20px;
      outline: none;
      font-weight: 700;
      transition: background-color 0.2s linear;

      &:hover {
        color: $white;
        background-color: $gray-600;
      }
    }
  }

  #main-nav {
    background-color: $primary;
    height: $main-nav-mobile-height;
    @include media-breakpoint-up(lg) {
      height: $main-nav-desktop-height;
    }

    .main-logo {
      width: 100px;
      height: auto;

      @include media-breakpoint-up(lg) {
        width: 150px;
      }
    }

    // Hamburger bar color
    .hamburger {
      outline: none;
      padding: 8px;

      .hamburger-box {
        width: 30px;
      }

      .hamburger-inner {
        background-color: $yellow;
        width: 30px;
        height: 3px;
        top: 65%;

        &:before,
        &:after {
          background-color: $yellow;
          width: 30px;
          height: 3px;
        }
      }

      &:not(.is-active) {
        .hamburger-inner {
          background-color: $white;

          &:before,
          &:after {
            background-color: $white;
          }
        }
      }
    }
  }

  nav {
    &#desktop-nav {
      > ul.menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
          // Hover to show for mobile(using class)
          &.hover,
          &:hover {
            > .submenu {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        > li {
          padding: 0;
          margin: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: relative;

          > a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 20px 20px;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.5px;
            color: $white;
            font-weight: 500;
            text-decoration: none;

            @include media-breakpoint-up(xl) {
              font-size: 18px;
            }

            &:after {
              display: block;
              content: '';
              width: 0;
              height: 3px;
              background-color: $white;
              bottom: 10px;
              position: absolute;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              transition: width 0.2s ease-in-out;
            }

            &:hover {
              &:after {
                width: 60%;
              }
            }

            &.active {
              &:after {
                width: 60%;
              }
            }
          }

          ul.submenu {
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 0;
            left: 0;
            top: 100%;
            box-shadow: 0 0 12px 1px rgba(0, 0, 0, .5);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s ease-in-out;
            z-index: 1;

            > li:not(:last-child) {
              border-bottom: 1px solid $gray-100;
            }

            > li {
              background-color: $white;
              margin: 0;
              padding: 0;
              position: relative;
              transition: background 0.3s linear;

              > a {
                padding: 10px 20px;
                display: block;
                position: relative;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0.5px;
                color: $blue;
                font-weight: 500;
                text-decoration: none;

                @include media-breakpoint-up(xl) {
                  font-size: 18px;
                }

                &.active {
                  color: $dark;
                  font-weight: 700;

                  &:before {
                    content: '';
                    width: 5px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $green;
                  }
                }

                &.expandable {
                  &:after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    display: block;
                    right: 10px;
                    top: 0;
                    background-image: url('/images/icons/down-chevron.svg');
                    background-size: 100% auto;
                    background-position: center center;
                    background-repeat: no-repeat;
                    transform: rotate(-90deg);
                  }
                }
              }

              &:hover {
                > a {
                  color: $green;
                }
              }
            }
          }

          // Submenu2 override
          ul.submenu2 {
            left: 100%;
            top: 0;
            box-shadow: 0 0 12px 1px rgba(0, 0, 0, .5);
          }
        }
      }
    }

    &#mobile-nav {
      z-index: $mobile-nav-zindex;
      position: absolute;
      top: $top-bar-mobile-height + $main-nav-mobile-height;
      right: 0;
      width: 100%;
      background-color: $blue;

      // Slide down/up animation
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;

      &.show {
        max-height: 1000px;
      }

      ul.menu {
        list-style: none;
        padding: 30px 0;
        margin: 0;

        // This is what makes the mobile inner scroll
        max-height: calc(100vh - #{$top-bar-mobile-height} - #{$main-nav-mobile-height} - #{$search-form-bottom-offset} - #{$mobile-nav-bottom-offset});

        overflow-y: auto;
        overflow-x: hidden;

        li {
          > a {
            &.expandable {
              &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 100%;
                display: block;
                right: 0;
                top: 0;
                background-image: url('/images/icons/down-chevron.svg');
                background-size: 100% auto;
                background-position: center center;
                background-repeat: no-repeat;
                transition: transform 0.4s ease-in-out;
              }
            }

            &.expanded {
              &:after {
                transform: rotate(180deg);
              }
            }

            // Make submenu expand
            &.expanded + ul.submenu,
            &.expended + ul.submenu {
              max-height: 1000px;
            }
          }
        }

        > li:last-child {
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        }

        > li {
          border-top: 2px solid rgba(255, 255, 255, 0.3);

          > a {
            color: $white;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
            position: relative;

            &.active {
              color: $gray-100;
            }
          }

          ul.submenu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;

            // Slide down/up animation
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease-in-out;

            > li {
              > a {
                color: $white;
                font-weight: 700;
                font-size: 16px;
                text-decoration: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 50px;
                padding-left: 30px;
                position: relative;

                &.active {
                  color: $gray-100;

                  &:before {
                    content: '';
                    width: 5px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $gray-100;
                  }
                }
              }
            }
          }

          // Submenu 2 override
          ul.submenu2 {
            > li {
              > a {
                padding-left: 60px;

                &.active {
                  &:before {
                    left: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

