.ul-basics {
  list-style: none;
  margin: 0 0 50px 0;
  padding-left: 15px;

  li {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: $dark;

    &:before {
      content: "\2022";
      color: $dark;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    ul {
      list-style: none;
      padding-left: 15px;
      margin-top: 10px;

      li {
        &:before {
          content: "-";
          font-weight: 400;
        }
      }
    }
  }
}

ul {

  &.no-bullet {
    list-style: none;
    padding: 0;

    li {
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 10px;
    }
  }

  &.custom-bullet {
    @extend .no-bullet;
    li {
      position: relative;
      padding-left: 30px;
      .bullet {
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &.maroon {
    @extend .ul-basics;

    li {
      color: $dark;

      &:before {
        color: $dark;
      }
    }
  }

  &.white {
    @extend .ul-basics;

    li {
      color: $color-white;

      &:before {
        color: $color-white;
      }
    }
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }
}
