@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Thin_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Thin_Web.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-ThinItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-ThinItalic_Web.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-XLight_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-XLight_Web.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-XLightItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-XLightItalic_Web.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Light_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Light_Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-LightItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-LightItalic_Web.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Book_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Book_Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-BookItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-BookItalic_Web.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Medium_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Medium_Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-MediumItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-MediumItalic_Web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Bold_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Bold_Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-BoldItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-BoldItalic_Web.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Black_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Black_Web.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-BlackItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-BlackItalic_Web.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-Ultra_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-Ultra_Web.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Your Font Name';
	src:url('/fonts/woff2/YourFont-UltraItalic_Web.woff2') format('woff2'),
		url('/fonts/woff/YourFont-UltraItalic_Web.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

