html,
body {
}

body {
  &.mobile-menu-open {
    overflow: hidden;
  }
}

main {
  margin-top: $top-bar-mobile-height + $main-nav-mobile-height;
  @include media-breakpoint-up(lg) {
    margin-top: $top-bar-desktop-height + $main-nav-desktop-height;
  }
}
