html,
body {
}

body {
  &.mobile-menu-open {
    overflow: hidden;
  }
}

main {
  margin-top: $top-bar-mobile-height + $main-nav-mobile-height;
  @include media-breakpoint-up(lg) {
    margin-top: $top-bar-desktop-height + $main-nav-desktop-height;
  }
}

sup, span {
  &.flush {
    margin-left: -10px;
    padding-right: 2px;
    font-size: 16px;
    top: 0;
  }
}


