#isi {
  position: relative;
  z-index: $isi-zindex;
}

#sticky-isi {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  background-color: $color-white;
  transform: translateX(-50%);
  height: $isi-height;
  min-height: $isi-min-height;
  z-index: $isi-zindex;
  box-shadow: 0 0 12px 1px rgba(0,0,0,.5);
  transition: height 0.3s ease-in-out;

  .isi-container {
    .isi-body {
      overflow-y: scroll;
      height: calc(#{$isi-height} - #{$isi-header-height});
      min-height: calc(#{$isi-min-height} - #{$isi-header-height});
    }
  }

  &.shrink {
    height: $isi-shrink-height;
    min-height: unset;
    .isi-container {
      .isi-body {
        height: calc(#{$isi-shrink-height} - #{$isi-header-height});
        min-height: unset;
      }
    }
  }

  .toggle-isi {
    img {
      width: 20px;
      height: auto;
    }
  }


  &.expanded-w-header,
  &.expanded {
    .toggle-isi {
      img {
        transform: rotate(180deg);
      }
    }
  }

  // ISI expand to full height of the screen
  &.expanded {
    height: 100vh;

    .isi-container {
      .isi-body {
        height: calc(100vh - #{$isi-header-height} - 30px);
      }
    }
  }

  // Get header height
  $header-desktop-height: $top-bar-desktop-height + $main-nav-desktop-height;
  $header-mobile-height: $top-bar-mobile-height + $main-nav-mobile-height;

  // ISI expand below the header
  &.expanded-w-header {
    height: calc(100vh - #{$header-mobile-height});

    .isi-container {
      .isi-body {
        height: calc(100vh - #{$header-mobile-height} - #{$isi-header-height} - 30px);
      }
    }

    @include media-breakpoint-up(lg) {
      height: calc(100vh - #{$header-desktop-height});

      .isi-container {
        .isi-body {
          height: calc(100vh - #{$header-desktop-height} - #{$isi-header-height} - 30px);
        }
      }
    }
  }


}

.isi-container {
  background: #fff;

  .isi-header {
    position: relative;
    height: $isi-header-height;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;

    span {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 20px;
      height: $isi-header-height;
    }
  }

  .isi-body {
  }
}
