// Enable RFS
$enable-responsive-font-sizes: true;

$body-font-size: 18px;;

// Colors
$color-blue: navy;
$color-red: red;
$color-yellow: #f6cc0d;
$color-light-yellow: #ffee00;
$color-purple: #b41d8d;
$color-light-purple: #c0237d;
$color-dark-purple: #3b0f28;
$color-gray: #c0c0c0;
$color-black: #000;
$color-white: #fff;
$color-body: #333;
$color-orange: #FFA500;

$colors: (
  blue: $color-blue,
  red: $color-red,
  yellow: $color-yellow,
  light-yellow: $color-light-yellow,
  purple: $color-purple,
  light-purple: $color-light-purple,
  dark-purple: $color-dark-purple,
  gray: $color-gray,
  black: $color-black,
  white: $color-white,
  body: $color-body
);

// Cookie height
$cookie-desktop-height: 50px;
$cookie-mobile-height: 80px;

// Top bar heights, if there is no top bar, set them to 0
$top-bar-desktop-height: 30px;
$top-bar-mobile-height: 40px;

// Main nav
$main-nav-desktop-height: 100px;
$main-nav-mobile-height: 70px;

// Z-indexes
$secondary-nav-zindex: 150;
$header-zindex: 200;
$mobile-nav-zindex: 300;
$cookie-zindex: 500;
$isi-zindex: 900;
$modal-zindex: 999;

// ISI height
$isi-desktop-height: 20vh;
$isi-mobile-height: 15vh;
$isi-min-desktop-height: 200px;
$isi-min-mobile-height: 100px;
$isi-header-height: 40px;
$isi-shrink-height: $isi-header-height;

// Secondary nav height
$secondary-nav-desktop-height: 50px;
$secondary-nav-mobile-height: 50px;

// Offsets

// If you don't want to see the minimized ISI bar, cover it up
//$mobile-nav-bottom-offset: 0px;
// Show shrink ISI header
$mobile-nav-bottom-offset: $isi-header-height;
//$mobile-nav-bottom-offset: $isi-mobile-height;

// If search is disabled, change the form height to "0px"
$search-form-bottom-offset: 66px;
