extends ../includes/_base

block params
  - var noIndex = true
  - var noFollow = true
  - var pageTitle = "This page doesn't exists" + pageTitleSuffix
  - var pageDescription = "This page doesn't exists"
  - var pageSlug = "page404"

block content
    main
      .container
        .row.flex-column
          h1 404
          h2 This page doesn't exist.
          h3 There is nothing funny about that. #[a(href="/") Go Home]
