extends ../includes/_base

block content
    main.flex-grow-1
      .container
        .row
          h1 404
          h2 This page doesn't exist.
          h3 There is nothing funny about that. #[a(href="/") Go Home]
