extends ../includes/_base

block params
  - var pageTitle = "Important Site Information" + pageTitleSuffix
  - var pageDescription = "Important Site Information"
  - var pageSlug = "isi"

block content
  main
    .container
      .row
        .col.col-12
          include ../includes/_isi-body
