files:
    "/etc/httpd/.htpasswd":
        mode: "000644"
        owner: root
        group: root
        content: |

    "/etc/httpd/conf.d/basic_auth.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            <Directory "/var/www/html">
                #AuthType Basic
                #AuthName "Secured"
                #AuthUserFile /etc/httpd/.htpasswd
                #Require valid-user
                Require all granted
            </Directory>
