container_commands:
  01changePHP:
    command: sed -i "/PHP_DATE_TIMEZONE/ s/UTC/America\/New_York/" /etc/php.d/environment.ini
  01achangePHP:
    command: sed -i "/aws.php_date_timezone/ s/UTC/America\/New_York/" /etc/php.d/environment.ini
  02change_AWS_PHP:
    command: sed -i "/PHP_DATE_TIMEZONE/ s/UTC/America\/New_York/" /etc/httpd/conf.d/aws_env.conf
  03php_ini_set:
    command: sed -i "/date.timezone/ s/UTC/America\/New_York/" /etc/php.ini
  04apache_restrict_access:
    command: sed -i "/Require all granted/d" /etc/httpd/conf/httpd.conf

commands:
  01remove_local:
    command: "rm -rf /etc/localtime"
  02link_New_York:
    command: "ln -s /usr/share/zoneinfo/America/New_York /etc/localtime"
  03remove_old_crons:
    command: "rm -f /etc/cron.d/*.bak"
  04remove_old_httpd_confs:
    command: "rm -f /etc/httpd/conf.d/*.bak"
  99restart_http:
    command: "sudo service httpd restart"
