extends includes/_base

block content
  main.flex-grow-1
    .container
      .row
        .col-4.text-left
          h1 Home
          h2 description here
        .col-8.text-left
          p Intro content here
          p
            a(href='/contact') Contact me
